.container {
    display: flex;
    margin: 12px 0px;
    flex-wrap: wrap;
}
.container > div {
    padding: .5em;
    color: white;
}

@media(max-width: 1440px) {
  img {
      max-width: 25%;
    }
}

@media (max-width: 600px) {
    .container > div {
        min-width: 100%;
    }

    .container.small-blocks > div {
        min-width: 41%;
    }
    img {
      max-width: 50%;
    }
}

.card {
    position: relative;
    display: inline-block;
}

@keyframes fade-out {
    from {
      display: none;
    }
    to {
        display: flex;
    }
}

.description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(59,59,185,0.2805497198879552) 16%, rgba(0,212,255,1) 100%);
}


.image:hover {
    opacity: 0;
}

