:root {
	--color-onPrimary: #881800;
	--color-secondary: #250a03;
	--color-primary: #e9e5dc;
}

@font-face {
	font-family: "CormorantGaramond-Bold";
	src: url("fonts/CormorantGaramond-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: "CormorantGaramond-Medium";
	src: url("fonts/CormorantGaramond-Medium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "CormorantGaramond-Light";
	src: url("fonts/CormorantGaramond-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "CormorantGaramond-MediumItalic";
	src: url("fonts/CormorantGaramond-MediumItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: normal;
}


@font-face {
	font-family: "Ysabeau-Medium";
	src: url("fonts/YsabeauSC-Medium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

html {
	padding: 0;
}


h1 {
	font-family: "CormorantGaramond-Bold";
}

h2 {
	font-family: "CormorantGaramond-Bold";
}

h3 {
	font-family: "CormorantGaramond-Medium";

}

a {
	font-family: "CormorantGaramond-Medium";
}

p {
	font-family: "CormorantGaramond-Medium";
	font-size: 1.2em;
}

aside p {
	font-family: "Ysabeau-Medium";
	color: var(--color-primary);
}

p + img {
	border: 1px solid var(--color-primary);
	border-radius: 4px;
	padding: 5px;
	width: 200px;
}

dt ~ dd {
	font-family: "CormorantGaramond-MediumItalic"
}

header {
	background: var(--color-onPrimary);
	position: sticky;
	top: 0;
	padding-left: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

nav {
	font-size: 1.5em;
	position: relative;
	left: 0;
}

header h1 {
	position: relative;
}

nav ul {
	padding: 0;
	margin: 0;
	display: flex;
}

nav li {
	flex-basis: auto;
	flex-grow: 1;
}

header * {
	color: var(--color-primary)
}


#mainHeader {
	margin: 0;
}



body {
	background: var(--color-primary);
	padding: 0;
	margin: 0;
}

main {
	display: flex;
	justify-content: flex-start;
	padding: 16px;
}

aside {
	padding: 8px;
	background-color: var(--color-onPrimary);
	width: 15%;
}

article {
	border: 0.1em solid var(--color-onPrimary);
	border-radius: 12px;
	padding: 8px;
	margin: 6px 0px 6px 0px;
	display: block;
}

article img {
	float:  left;
	margin-right: 4em;
}

section {
	width: 85%;
}

header a:hover {
	color: #00B3FF;
}

header a:active {
	color: #00B3FF
}

header a:visited {
	color: grey;
}

header li {
	display: inline;

}

#tracksArticle {
	height: 470px;
}

#listenBtn {
	position: fixed;
	bottom: 16px;
	right: 16px;
	border-radius: 50%;
	padding: 20px;
	background-color: var(--color-primary);

}

#logo {
	position: absolute;
	right: 1em;
	bottom: 10%;
	top: 10%;
}

form *:focus {
	color: var(--color-onPrimary);
}

form input, textarea {
	border: 0.1em solid var(--color-onPrimary);
}

input::placeholder {
	color: grey;
}