body {
  margin: 0;
  padding: 0;
  background-color: #c5cbd6;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.thumbnails {
  display: grid;
  grid-template-columns: repeat(3, 132px);
  gap: 5px;
  margin-top: 10px;
}

.thumbnail {
  width: 100px;
  border-radius: 26%;
  height: 100px;
  cursor: pointer;
}

.main-image {
  position: relative;
  margin-right: 30px;
}

.main-image img {
  max-width: 400px;
  height: auto;
  border: 3px solid #e22b3a; /* Фиолетовая неоновая рамка */
}
